i.icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

i.icon.dot {
  position: relative;
}

i.icon.dot:after {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background: #002257;
  top: 2px;
  right: 2px;
  border-radius: 50%;
}

i.icon.icon-8 {
  min-width: 8px;
  width: 8px;
  height: 8px;
}

i.icon.icon-12 {
  min-width: 12px;
  width: 12px;
  height: 12px;
}

i.icon.icon-14 {
  min-width: 14px;
  width: 14px;
  height: 14px;
}

i.icon.icon-16 {
  min-width: 16px;
  width: 16px;
  height: 16px;
}

i.icon.icon-18 {
  min-width: 18px;
  width: 18px;
  height: 18px;
}

i.icon.icon-20 {
  min-width: 20px;
  width: 20px;
  height: 20px;
}

i.icon.icon-21 {
  min-width: 21px;
  width: 21px;
  height: 21px;
}

i.icon.icon-24 28 {
  min-width: 24 28px;
  width: 24 28px;
  height: 24 28px;
}

i.icon.icon-32 {
  min-width: 32px;
  width: 32px;
  height: 32px;
}

i.icon.icon-40 {
  min-width: 40px;
  width: 40px;
  height: 40px;
}

i.icon.icon-45 {
  min-width: 45px;
  width: 45px;
  height: 45px;
}

i.icon.icon-48 {
  min-width: 48px;
  width: 48px;
  height: 48px;
}

i.icon.icon-96 {
  min-width: 96px;
  width: 96px;
  height: 96px;
}

i.icon.icon-hbg {
  background-image: url(../assets/icons/hbg.png);
}

i.icon.icon-close {
  background-image: url(../assets/icons/close.png);
}

i.icon.icon-close-white {
  background-image: url(../assets/icons/close-white.png);
}

i.icon.icon-caret {
  background-image: url(../assets/icons/caret.png);
}

i.icon.icon-calendar {
  background-image: url(../assets/icons/calendar.png);
}

i.icon.icon-calendar-variant {
  background-image: url(../assets/icons/calendar-variant.png);
}

i.icon.icon-calendar-grey {
  background-image: url(../assets/icons/calendar-grey.png);
}

i.icon.icon-location {
  background-image: url(../assets/icons/location.png);
}

i.icon.icon-delete {
  background-image: url(../assets/icons/delete.png);
}

i.icon.icon-process-next {
  background-image: url(../assets/icons/process-next.png);
}

i.icon.icon-process-next-down {
  background-image: url(../assets/icons/process-next-down.png);
}

i.icon.icon-prev-last {
  background-image: url(../assets/icons/prev-last.png);
}

i.icon.icon-prev {
  background-image: url(../assets/icons/prev.png);
}

i.icon.icon-next {
  background-image: url(../assets/icons/next.png);
}

i.icon.icon-next-last {
  background-image: url(../assets/icons/next-last.png);
}

i.icon.icon-search {
  background-image: url(../assets/icons/search.png);
}

i.icon.icon-map-toggle {
  background-image: url(../assets/icons/map-toggle.png);
}

i.icon.icon-map-area {
  background-image: url(../assets/icons/map-area.png);
}

i.icon.icon-map-arr-left {
  background-image: url(../assets/icons/map-arr-left.png);
}

i.icon.icon-map-arr-right {
  background-image: url(../assets/icons/map-arr-right.png);
}

i.icon.icon-map-collapse {
  background-image: url(../assets/icons/map-collapse.png);
}

i.icon.icon-map-expansion {
  background-image: url(../assets/icons/map-expansion.png);
}

i.icon.icon-map-figure-area {
  background-image: url(../assets/icons/map-figure-area.png);
}

i.icon.icon-map-location {
  background-image: url(../assets/icons/map-location.png);
}

i.icon.icon-map-move {
  background-image: url(../assets/icons/map-move.png);
}

i.icon.icon-map-reset {
  background-image: url(../assets/icons/map-reset.png);
}

i.icon.icon-map-ruler {
  background-image: url(../assets/icons/map-ruler.png);
}

i.icon.icon-map-area-active {
  background-image: url(../assets/icons/map-area-active.png);
}

i.icon.icon-map-arr-left-active {
  background-image: url(../assets/icons/map-arr-left-active.png);
}

i.icon.icon-map-arr-right-active {
  background-image: url(../assets/icons/map-arr-right-active.png);
}

i.icon.icon-map-collapse-active {
  background-image: url(../assets/icons/map-collapse-active.png);
}

i.icon.icon-map-expansion-active {
  background-image: url(../assets/icons/map-expansion-active.png);
}

i.icon.icon-map-figure-area-active {
  background-image: url(../assets/icons/map-figure-area-active.png);
}

i.icon.icon-map-location-active {
  background-image: url(../assets/icons/map-location-active.png);
}

i.icon.icon-map-move-active {
  background-image: url(../assets/icons/map-move-active.png);
}

i.icon.icon-map-reset-active {
  background-image: url(../assets/icons/map-reset-active.png);
}

i.icon.icon-map-ruler-active {
  background-image: url(../assets/icons/map-ruler-active.png);
}

.appear {
  position: relative;
}

.appear .icon-after {
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.appear input {
  height: 48px;
}

@media screen and (max-width: 1299px) {
  i.icon.icon-sm-10 {
    min-width: 10px;
    width: 10px;
    height: 10px;
  }
  i.icon.icon-sm-12 {
    min-width: 12px;
    width: 12px;
    height: 12px;
  }
  i.icon.icon-sm-14 {
    min-width: 14px;
    width: 14px;
    height: 14px;
  }
  i.icon.icon-sm-16 {
    min-width: 16px;
    width: 16px;
    height: 16px;
  }
  i.icon.icon-sm-18 {
    min-width: 18px;
    width: 18px;
    height: 18px;
  }
  i.icon.icon-sm-20 {
    min-width: 20px;
    width: 20px;
    height: 20px;
  }
  i.icon.icon-sm-21 {
    min-width: 21px;
    width: 21px;
    height: 21px;
  }
  i.icon.icon-sm-24 {
    min-width: 24px;
    width: 24px;
    height: 24px;
  }
  i.icon.icon-sm-28 {
    min-width: 28px;
    width: 28px;
    height: 28px;
  }
  i.icon.icon-sm-30 {
    min-width: 30px;
    width: 30px;
    height: 30px;
  }
  i.icon.icon-sm-32 {
    min-width: 32px;
    width: 32px;
    height: 32px;
  }
}
/*# sourceMappingURL=icons.css.map */