@charset "UTF-8";

.input-group-border {
  border: 1px solid #F2F2F3 !important;
}

.input-group-border input {
  padding: 0.25rem 1rem !important;
}

.m-main {
  height: 100vh;
  position: relative;
}

ul.pagination li.page-item {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0;
  display: table;
  margin: 0 .5rem;
}

ul.pagination li.page-item a.page-link {
  display: table-cell;
  vertical-align: middle;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  margin: auto;
  padding: 0.25rem;
  border-radius: 4px;
  color: #333333;
}

ul.pagination li.page-item a.page-link:hover {
  color: #121A2D;
}

ul.pagination li.page-item a.page-link:active, ul.pagination li.page-item a.page-link:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

ul.pagination li.page-item-active a {
  color: #002257 !important;
  font-weight: 700;
}

.not_scroll {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 100%
}

.drawer-dim {
  background-color: rgba(18, 26, 45, 0.25);
  position: fixed;
  z-index: 135 !important;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  top: 48px;
  left: 0;
}

.table-wrapper.wrapper-scroll-x {
  padding: 0 !important;
  margin: 0 !important;
  white-space: nowrap;
  overflow-x: scroll;
  width: 100%;
}

.table-wrapper.wrapper-scroll-x table thead th {
  font-weight: 500;
}

.table-wrapper.wrapper-scroll-x table tbody tr, .table-wrapper.wrapper-scroll-x table tbody td {
  border: 1px solid #F2F2F3;
}

.table-wrapper.wrapper-scroll-x table tbody td:hover {
  font-weight: 700;
}

.table-wrapper.wrapper-scroll-x table tbody td.cell-emphasis {
  font-weight: 500;
  background-color: #F3F5F7;
}

.m-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.m-login.m-bg-img {
  height: calc(100vh - 48px);
  background: url("../assets/imgs/bg-login1.png");
  overflow-y: hidden;
}

.drawer {
  left: -300%;
  position: absolute;
  width: 265px;
  z-index: 999;
  background-color: white;
  min-height: 100vh;
  transition: 0.3s;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 25px;
  top: 0px;
}

.drawer.active {
  left: 0;
  transition: 0.3s;
}

.custom-btn.small-btn {
  font-size: 12px !important;
  width: 76px;
  height: 28px;
}

.arr-select-con select {
  background-image: url(../assets/icons/caret.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 6px;
  padding-left: 20%;
}

.nav-menu ul {
  list-style-type: none;
  padding-left: 0;
}

.nav-menu ul li {
  color: #002257;
  font-size: 16px;
  margin-bottom: 30px;
  padding-left: 20px;
  position: relative;
}

.nav-menu ul li.active {
  font-weight: bold;
}

.nav-menu ul li:after {
  position: absolute;
  content: "-";
  left: 0px;
}

.nav-menu ul li:last-child {
  margin-bottom: 0;
}

.font14 {
  font-size: 14px;
}

/* mobile */
.m-header {
  height: 48px;
  display: flex; 
  display: -ms-flexbox;
  align-items: center; 
  -ms-flex-align: center;
  padding-left: 17px;
  padding-right: 17px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.m-login-form {
  border-radius: 4px;
  width: calc(100% - 40px);
  background-color: white;
}

.m-logo-con img {
  width: 100%;
  height: 50px;
}

.menu-con img {
  height: 32px;
}

@media all and (max-width: 768px) {
  .form-header {
    height: 48px;
  }
  .form-body {
    padding-left: 25px;
    padding-right: 25px;
  }
}
