html {
  font-size: 10px !important;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

.login-form {
  width: 1000px;
  background-color: white;
}

.header {
  display: flex; display: -ms-flexbox;
  background-color: white;
  height: 100px;
  align-items: center; -ms-flex-align: center;
  padding-left: 10%;
  padding-right: 10%;
  display:-ms-flexbox;
}

.header .logo-con {
  font-size: 0;
  margin: 0
}

.header .logo-con img {
  height: 44px;
}

.form-header {
  display: flex; display: -ms-flexbox;
  align-items: center; -ms-flex-align: center;
  justify-content: center;
  height: 79px;
  margin-bottom: 24px;
  background-color: rgba(0, 65, 115, 0.05);
  display:-ms-flexbox;
}

.form-header .form-font {
  font-weight: bold;
  font-size: 18px;
  color: #004173;
}

.form-header.bg-carret {
  background-color: rgba(238, 119, 47, 0.05);
}

.form-header.bg-carret .form-font {
  color: #ee772f;
}

.form-header.bg-yellow {
  background-color: rgba(243, 193, 53, 0.05);
}

.form-header.bg-yellow .form-font {
  color: #f3c135;
}

.footer {
  padding-left: 10%;
  padding-right: 10%;
  display: flex; display: -ms-flexbox;
  align-items: center; -ms-flex-align: center;
  justify-content: space-between;  
  height: 70px;
  display:-ms-flexbox;
}

.bg-primary {
  background: #002257;
}

.bg-transparant {
  background: rgba(255, 255, 255, 0);
}

.form-body {
  max-width: 720px;
  display: flex; display: -ms-flexbox;
  flex-direction: column; -ms-flex-direction: column;
  -ms-flex-direction: column; -ms-flex-direction: column;
  margin: 0 auto;
  padding-bottom: 24px;
  display:-ms-flexbox;
}

h4.bold {
  font-weight: bold;
}

h4.font-samll {
  font-size: 14px;
}

.icon-wrap ul {
  display: flex; display: -ms-flexbox;
  align-items: center; -ms-flex-align: center;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
  display:-ms-flexbox;
}

.icon-wrap ul li:after {
  content: "";
  width: 27px;
  height: 14px;
  position: absolute;
  background-image: url('../assets/icons/arrow.png');
  background-size: 27px 14px;
  right: -30px;
  top: calc(50% - 7px);
}

.icon-wrap ul li:last-child:after {
  content: none;
}

.icon-wrap ul li img, .inner-icon-box .icon-con img {
  width: 60px;
  height: 60px;
}

.icon-wrap ul li {
  width: 120px;
  height: 172px;
  box-sizing: border-box;
  border: 1px solid #e4e6f1;
  text-align: center;
  padding: 29px 0px;
  position: relative;
  border-radius: 2px;;
}

.black07 {
  color: rgba(0,0,0, 0.6);
}

.custom-line {
  width: 100%;
  color: #f2f2f3;
  height: 1px;
  border-bottom : none;
}

.no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.custom-btn {
  font-size: 16px !important;
  height: 50px;
}

.custom-btn-color {
  border: none;
  height: 50px;
  background-color: #70809A;
  color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-btn-color:hover {
  color: white;
  background-color: #505f77;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.custom-input {
  width: 100%;
  border: 1px solid #e4e6f1 !important;
  font-size: 14px !important;
  line-height: 22px;
  padding: 0px 20px;
  height: 40px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-radius: 2px !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

.label-txt {
  font-size: 14px;
  line-height: 22px;
  color:black;
}

.custom-check-box {
  padding-left: 0;
}

.custom-check-box.in-table .form-check-input {
  position: relative;
}

.custom-check-box .form-check-input:checked {
  background-color: transparent !important;
  background-size: 10px 8px;
  background-repeat: no-repeat;
  background-position: center center;
  border: 1px solid #70809A !important;
  background-image: url('../assets/imgs/check.png');
  border: 1px solid #F2F2F3 !important;
}

.custom-check-box .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 1px;
  border: solid 1px #959595;
  background-color: #ffffff;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.custom-check-box .form-check-input + label {
  font-size: 12px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}

.custom-check-box label {
  font-size: 14px;
  color: black;
  padding-left: 15px;
}

.inner-icon-box {
  border-radius: 2px;
  display: flex; display: -ms-flexbox;
  justify-content: space-around;
  border: 1px solid #e4e6f1;
  padding: 28px 0px; 
  display:-ms-flexbox;
}

.inner-icon-box.type2 {
  padding-top: 35px;
  padding-bottom: 24px;
  height: 222px;
}

.inner-icon-box .arr-con {
  display: flex; display: -ms-flexbox;
  flex-direction: column; -ms-flex-direction: column;
  -ms-flex-direction: column; -ms-flex-direction: column;
  align-items: center; -ms-flex-align: center;
  align-self: center;
  display:-ms-flexbox;
  
}

.icon-con {
  text-align: center;
  margin-bottom: 18px;
}

.icon-con.type2 {
  margin-bottom: 29px;
}

.inner-icon-box h4 {
  text-align: center;
}

.analy-icon {
  display: flex; display: -ms-flexbox;
  align-items: center; -ms-flex-align: center;
  justify-content: center;
  background-color: #7b8ba4;
  border-radius: 13px;
  color: white;
  font-size: 13px;
  width: 44px;
  height: 24px;
  position: relative;
  font-weight: bold;
}

.analy-icon.long {
  width: 53px;
}

.analy-icon::after {
  content: "";
  position: absolute;
  background-image: url('../assets/icons/arrow.png');
  background-size: contain;
  width: 27px;
  height: 14px;
  bottom: -25px;
  left: 10px;
}

.m-logo-header img {
  height: 24px;
}

.empty {
  width:24px;
  height: 24px;;
}

.filter-con {
  padding-left: 20px;
  padding-right: 20px;
}

.table-wrapper.wrapper-scroll-x table tbody td:hover {
  font-weight: normal;
}

.table-wrapper.wrapper-scroll-x.pl20 {
  padding-left: 20px !important;
}

.tab-con {
  display: flex; display: -ms-flexbox;
}

.tab-con .tab {
  display: flex; display: -ms-flexbox;
  align-items: center; -ms-flex-align: center;
  justify-content: center;
  border: 1px solid #ffffff;
  background-color: #f3f5f7;
  width: 33.33%;
  box-sizing: border-box;
  font-size: 14px;
  height: 38px;
}

.tab-con .tab.active {
  color: white;
  background-color: #57238e;
  border:none;
}

.table-wrapper.wrapper-scroll-x table tbody tr, .table-wrapper.wrapper-scroll-x table tbody td {
  vertical-align: middle;
}

.table-wrapper table tbody td {
  border: 1px solid #F2F2F3;
}

.btn.btn-gray {
  background-color: #7b8ba4;
  color: white;
}

.title-wrap {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.select-menu-con {
  margin-bottom: 10px;
}

.select-menu-con ul {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  white-space: nowrap;
  overflow-x: auto;  
  overflow-y: hidden;
}

.select-menu-con ul li {
  display: inline-block;
  font-size: 12px;
  color: #333333;
  padding-right: 20px;
  position: relative;
  font-weight: normal;
}

.select-menu-con ul li:after {
  content: "";
  position: absolute;
  width: 17px;
  height: 18px;
  background-image: url('../assets/imgs/check-arr.png');
  background-size: 8px;
  background-repeat: no-repeat;
  right: -5px;
  top: calc(50% - 4px);
}


.select-menu-con ul li:last-child {
  font-weight: bold;
}

.select-menu-con ul li:last-child:after {
  content: none;
}

.menu-title-con .menu-title {
  padding-left: 15px;
  background-image: url('../assets/imgs/pip-img.png');
  background-size: 2px;
  background-repeat: no-repeat;
  background-position: left center;
  margin-bottom: 0;
}

.table-titel {
  font-size: 16px;
  line-height: 22px;
  position: relative;
  padding-left: 10px;
}

.table-titel:after {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 3px);
  width: 5px;
  height: 5px;
  background-color: #002257;
}

.arr-txt {
  background-image: url('../assets/icons/caret.png');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px 6px;
}

.location-con img {
  width: 14px;
  height: 18px;
}

.table.custom {
  margin-bottom: 0;
}

ul.pagination li.page-item a {
  font-size: 12px;
  font-weight: bold;
}

ul.pagination li.page-item.total a {
  border: none;
}

.width-per-50 {
  width:50%;
}

.width-per-15 {
  width: 15%;
}

.width-per-20 {
  width: 20%;
}

.width-per-25 {
  width: 25%;
}

.width-per-35 {
  width: 35%;
}

.width-per-45 {
  width:45%;
}

.logo-con {
  position: relative;
}

.logo-con:after {
  font-size: 22px;
  color: #002257;
  padding-left: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  left: calc(100% + 20px);  
  display: flex;
  align-items: center;
  top: 0;
  background-image: url('../assets/icons/pip-img.png');
  background-size: 3px;
  background-repeat: no-repeat;
  background-position: left center;
  font-weight: bold;
}

.logo-con.doro:after {
  content:"도로포장 설계 시스템";
}

.logo-con.sigon:after {
  content: "시공 품질관리 시스템"; 
}

.logo-con.sigon-pol:after {
  content:"시공지침 시스템";
}

.row {
  display: -ms-flexbox;
}