#root,
#main {
  position: relative;
}

.ml-auto {
  margin-left: auto;
}

.mw-1520 {
  width: 1520px;
}

.mw-1370 {
  width: 1370px;
}

.mw-720 {
  width: 720px;
}

.mw-660 {
  width: 660px;
}

.m-auto {
  margin: 0 auto;
}

.h-100 {
  height: 100%;
}

.width50 {
  width: 50px;
}
.w-100 {
  width: 100%;
}

.pos-rel {
  position: relative;
}

.max-wight-none {
  max-width: none !important;
}

.no-scroll {
  position: fixed !important;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.dim {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8.15485px);
  z-index: 5;
}

.has-lnb-con {
  display: flex;
  display: -ms-flexbox;
}

.has-lnb-con .lnb {
  width: 270px;
  margin-right: 30px;
}

.has-lnb-con .right-content {
  width: 1040px;
}

.lnb-menu {
  background: linear-gradient(
    180deg,
    rgba(253, 253, 255, 0.3) 50%,
    rgba(195, 218, 241, 0.3) 172.54%
  );
  box-shadow: 0px 6px 30px rgba(204, 204, 204, 0.441761),
    inset 0px -3px 8px rgba(255, 255, 255, 0.818482), inset 0px -6px 15px #ffffff;
  backdrop-filter: blur(19.028px);

  border-radius: 14px;

  padding: 25px 0px 25px 30px;

  margin-bottom: 15px;
}

.lnb-menu:last-child {
  margin-bottom: 0;
}

.lnb-menu ul > li:last-child {
  margin-bottom: 0;
}

.lnb-menu ul > li {
  margin-bottom: 30px;
}

.lnb-menu ul > li a {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #2d3556;
}

.lnb-menu ul > li.active {
  background-image: url('../img/arr-right.png');
  background-repeat: no-repeat;
  background-size: 15px 25px;
  background-position: right 30px center;
}

.lnb-menu ul > li.active a {
  font-weight: bold;
}

#barGraph {
  position: relative;
}

.dash-board-con {
  overflow-x: auto;
}

.yAxis {
  padding-left: 20px;
  position: absolute;
  width: 30px;
  height: calc(100% - 50px);

  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;

  justify-content: space-between;
}

.yAxis .axis p {
  font-size: 12px;
  color: #2d3556;
}

#bottomDesc {
  font-size: 14px;
  color: #2c3559;
  text-align: center;
  font-weight: 400;
}

.yAxis .axis p {
  line-height: 25px;
}

.line-con {
  height: calc(100% - 50px);
  width: calc(100% - 50px);
  margin-left: auto;

  display: flex;
  flex-direction: column;
  -ms-flex-direction: column;

  justify-content: space-between;
}

.line-con .line {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.2);

  margin-top: 12px;
  margin-bottom: 12px;
}

.xAxis {
  height: 30px;
  width: calc(100% - 50px);
  margin-left: auto;

  display: flex;
  display: -ms-flexbox;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.xAxis .day {
  text-align: center;
  width: 24px;

  font-size: 14px;
  color: #2c3559;
}

.bar-line {
  width: 24px;
  background: #8d7cf6;
  border-radius: 12px;
  height: 70px;
  position: relative;
  bottom: 1px;

  font-size: 14px;
  color: #2d3556;
  letter-spacing: 0;
}

.bar-line .inner {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;

  background: #5fc9df;
  border-radius: 12px;
}

.graphContent {
  position: absolute;
  top: 0;
  width: calc(100% - 80px);
  height: calc(100% - 62px);
  padding-left: 80px;

  display: flex;

  align-items: flex-end;
  justify-content: space-between;
}

.max-day {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  color: #2d3556;
  font-weight: 600;
  z-index: 11;

  width: 38px;
  height: 28px;

  position: absolute;

  right: 5px;
  top: 0px;
}

.max-day:after {
  content: '';
  position: absolute;
  left: 0;
  background-image: url('../../assets/img/max-groom.png');
  width: 38px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: -1;
}

.bar-con {
  background: linear-gradient(
    180deg,
    rgba(253, 253, 255, 0.3) 50%,
    rgba(195, 218, 241, 0.3) 172.54%
  );
  box-shadow: 0px 6px 30px rgba(204, 204, 204, 0.441761),
    inset 0px -3px 8px rgba(255, 255, 255, 0.818482), inset 0px -6px 15px #ffffff;
  backdrop-filter: blur(19.028px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 14px;
  padding: 30px;
}
.bottom-legend {
  width: 100%;
  text-align: center;
}

#graphContent2 .bar-line {
  background: #c69af0;
}

@media (max-width: 767px) {
  .mw-1520 {
    width: auto;
  }

  .mw-1370 {
    width: auto;
  }

  .mw-720 {
    width: auto;
  }

  .mw-660 {
    width: auto;
  }
}
